main {
    grid-area: main;

    .bg-gr {
        background: linear-gradient(315deg, #c7e9fb 0%, #e61d8c 74%);
    }

    .destacados{
        font-family: 'Krona One', sans-serif;
        border: #000000 solid 0.2rem;
        justify-content: center;
        display: flex;
        background-color: #fff;
        width: 30%;
        transition: all 1s;

        &:hover{
            font-size: 3vw;
            color: #da4a9e;
        }
    }
}